@model DAL.Account

@{
    ViewBag.Title = "Accounts";
}

<h2>Accounts</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Limit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Balance)
        </td>

    </tr>

</table>
